#artist #artist-cover {
    max-height: 400px;
    overflow: hidden;
}

#artist #artist-infos {
    padding: 100px 0 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

#artist #artist-infos h1 {
    color: #FFF;
    margin: 0 30px;
    padding: 0 0 15px 0;
    font-size: 4rem;
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

#artist #artist-infos #artist-specs,
#artist #artist-infos #artist-actions {
    padding: 0 30px;
}

#artist #artist-infos #artist-specs #specs-genre {
    color: rgba(255, 255, 255, .4);
}

#artist #artist-infos #artist-specs #specs-description {
    color: #FFF;
}

#artist #artist-infos #artist-actions {
    padding-top: 30px;
}

#artist #artist-albums {
    padding: 50px 0;
}

#artist #artist-albums h3 {
    color: #FFF;
    margin: 0 30px;
}

#artist #artist-albums .artist-album {
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

#artist #artist-albums .artist-album a {
    text-decoration: none;
}

#artist #artist-albums .artist-album img {
    margin: auto;
}

#artist #artist-albums .artist-album h4 {
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
}
